<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoAnCShap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="cn" connectionString="Data Source=DESKTOP-L3VUEAK; Initial Catalog =PM_BanLinhKienPC;Integrated Security = True"
   providerName="System.Data.SqlClient" />
  <add name="DoAnCShap.Properties.Settings.PM_BanLinhKienPCConnectionString"
   connectionString="Data Source=DESKTOP-L3VUEAK;Initial Catalog=PM_BanLinhKienPC;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <userSettings>
  <DoAnCShap.Properties.Settings>
   <setting name="FormsBackgroundColor" serializeAs="String">
    <value>Control</value>
   </setting>
   <setting name="BackGroundColoPanelTop" serializeAs="String">
    <value>30, 130, 110</value>
   </setting>
   <setting name="ChangeFont" serializeAs="String">
    <value>Segoe UI, 12pt</value>
   </setting>
   <setting name="ChangeThongTIn" serializeAs="String">
    <value />
   </setting>
   <setting name="ChangeHotLine" serializeAs="String">
    <value />
   </setting>
   <setting name="ChangeDiaChi" serializeAs="String">
    <value />
   </setting>
   <setting name="ChangeWebsite" serializeAs="String">
    <value />
   </setting>
  </DoAnCShap.Properties.Settings>
 </userSettings>
</configuration>